/*Google Fonts*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

/*Colors*/
:root{
    --primary-color: #001c44;
    --secondary-color: #0C5776;
    --third-color: #2C99AE;
    --fourth-color: #C1FBFF;
    --fifth-color: #F8DAD0;
}

.section{
    height: 100vh;
    padding-top: 4rem;
}

/*Section Home*/
.section-home, .section-about{
    display: flex;
    align-items: center;
}
.home-image{
    max-width: 100%;
}
.home-col, .about-col{
    display: flex;
    align-items: center;
}
